<!DOCTYPE html>
<html>
<head>
	<title>Sexy EOM's Techblog</title>
</head>
<body>
	<div>
		<h1><a href="">Sexy Eom's Tech&etc BLog</a></h1>
		<p>This website is made with Django</p>
	</div>

	<div>
		<p> Published: 07.AUG.2018</p>
		<h2><a href="">My first post</a></h2>
		<p>Hi there, I am Junghyun EOM and I'm currently studying a 
			Bachelor of Scince in Information Technology at <a href="https://www.uts.edu.au/">University of Technology Sydney</a>.<br>
		I am really interested in todays Web technologies Fornt-end, and Back-end both.</p>	
	</div>

	<div>
		<p>Published: 07.AUG.2018</p>
	</div>


	
</body>
</html>